body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #5F4B8B;
  }

  main {
    flex: 1 0 auto;
  }
      
.background-color-regular {
    
    background-color: #5F4B8B;
}
.background-color-hotpink {
  background-color: #ec407a;
}
.navbar-slant {
  transform: rotate(-1deg);
  z-index: 5;
  height: 130px;
  margin-left: -2px;
  margin-top: -30px;
  padding-top: 30px;
  min-width: calc(100vw + 2px);
}

.navbar-brand {
  height: 100px;
}
.slothLogo {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 0px;
}
.slothcrewSlogan {
  padding-left: 20px;
  font-family: "Bangers", cursive;
}
.navbar-end {
  padding-right: 20px;
}
.sloganContainer {
  padding-top: 10px;
}
.navbar-item-regular-style {
  background-color: yellow;
  color: #5F4B8B;
  
  margin: 2px;
  font-size: 1.5rem;
  font-family: "Bangers", cursive;
}
.navbar-item-hotpink-style {
    background-color: yellow;
    color: #ec407a;
    margin: 2px;
    font-size: 1.5rem;
    font-family: "Bangers", cursive;
  }

.main-content-container {

  min-height: calc(100vh - 250px) ;
  padding: 10px 10px 0 10px;
}

.main-content-style {
    padding-top: 50px;
    font-family: "Special Elite", cursive;
}

.footer-style {
  padding: 10px;
  font-family: "Bangers", cursive;
}

.slothBranding {
  color: yellow;
}

svg {
  fill: yellow;
}

.footer-background {
  background-color: #5F4B8B!important;
}
.footer-background--hotpink {
  
  background-color: #ec407a !important;
}


.navbar-burger--spacing {
  margin-right: 20px !important;
}
.navbar-burger--styling:hover {
  color: white !important;
}

.pantoneBtn {
  background-color: #ec407a;
  font-weight: bold;
  color: yellow;
  margin-bottom: 25px;
}
.pantoneBtn:hover {
  background-color: hotpink;  
  
  color: yellow;
}

.pantoneBtn--regular {
  
  background-color: #5F4B8B;
}
.pantoneBtn--regular:hover{
  background-color: darkorchid;
}
#home { 
  padding-top: 120px; 
  margin-top: -120px;
}
#portfolio { 
  padding-top: 120px; 
  margin-top: -120px;
}
#about { 
  padding-top: 120px; 
  margin-top: -120px;
}
#contact { 
  padding-top: 120px; 
  margin-top: -120px;
}
.contact-button-center {
  margin-top: 3px;
}