---
layout: base.njk
title: Topics
permalink: /blog/tags/
---

<div class="container">
    <header class="page-header">
        <h1>Topics.</h1>
        <p class="description">Browse posts by topic.</p>
    </header>

    <ul class="tag-cloud">
        {% for tag in collections.tagList %}
        <li>
            <a href="/blog/tags/{{ tag | slug }}/">{{ tag }}<span class="tag-count">{{ collections[tag].length }}</span></a>
        </li>
        {% endfor %}
    </ul>
</div>
