---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - sitemapPages
  addAllPagesToCollections: true
permalink: /blog/tags/{{ tag | slug }}/
eleventyComputed:
  title: "Posts tagged \"{{ tag }}\""
---
{% from "post-list.njk" import postList %}

<div class="container">
    <header class="page-header">
        <p class="page-header-links"><a class="link-arrow back-link" href="/blog/tags/"><span aria-hidden="true">←</span> All topics</a></p>
        <h1>#{{ tag }}</h1>
    </header>

    {{ postList(collections[tag] | reverse, tag) }}
</div>
